$color-grey-dark: #444;
$color-grey-light: #eee;
$color-white: #fff;
$color-black: #000;
$color-main: #d61fff;

// GRID

$grid-width: 120rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 2rem;
