.control-panel {
    padding: 4rem 3rem;
    position: fixed;

    @include respond(tab-port) {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        background-color: $color-white;
        z-index: 100;
        display: none;
    }

    &__container {

        @include respond(tab-port) {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &__action {
        width: 100%;
        padding: .5rem;
        font-size: 1.6rem;
        text-transform: uppercase;
        cursor: default;
        border-left: 2px solid transparent;
        transition: all .3s;

        @include respond(tab-port) {
            font-size: 3rem;
        }

        & p:first-child {
            transition: all .3s;
        }

        &--sort {
            &:hover .control-panel__action--small {
                display: block;
                opacity: 1;
            }
        }

        &--wishes {
            display: none;

            @include respond(tab-port) {
                display: block;
            }
        }

        &--small {
            font-size: 1.2rem;
            padding-top: 1.2rem;
            opacity: 0;
            display: none;
            transition: all .3s;

            @include respond(tab-port) {
                font-size: 1.8rem;
            }

            &:hover {
                color: $color-main;
            }

            &:hover .control-panel__check-box {
                border: 1.5px solid $color-main;
            }
        }

        &:hover {
            border-left: 2px solid $color-main;
        }

        &:hover p:first-child {
            color: $color-main;
        }
    }

    &__check-box {
        display: inline-block;
        height: 1.2rem;
        width: 1.2rem;
        border-radius: 100%;
        border: 1.5px solid $color-grey-dark;
        transform: translateY(1px);
        transition: all .3s;
    }

    &__check-box-inner {
        display: inline-block;
        height: .5rem;
        width: .5rem;
        border-radius: 100%;
        background-color: $color-main;
        transform: translate(-9px, -2.5px);
        transition: all .3s;
        opacity: 0;
    }
}

.books-panel {
    background-color: $color-grey-light;
    border-radius: 6px;
    padding: 3rem;
    min-height: 78vh;

    @include respond(tab-port) {
        min-height: auto;
        margin-top: 5rem;
    }

    &__list {
        list-style: none;
    }
}

.wish-panel {
    padding: 0 3rem;

    @include respond(tab-port) {
        display: none;
    }

    &__heading {
        text-align: center;
        font-size: 4rem;
        font-weight: 700;
        text-transform: uppercase;
        background-image: linear-gradient(to right bottom, #f953c6, #b91d73);
        display: block;
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }

    &__list {
        list-style: none;
        margin-top: 3rem;

        & li {
            border-radius: 6px;

            &:nth-child(2n) {
                background-color: $color-grey-light;
            }
        }
    }
}