.header {
    position: relative;
    width: 100%;
    height: 8rem;
    z-index: 120;

    &__box {
        position: fixed;
        width: 100%;
        max-width: 120rem;
        height: 8rem;
        top: 0;
        left:50%;
        transform: translateX(-50%);
        z-index: 100;
        margin: 0 auto;
        background-color: $color-white;
    }

    &__logo {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        margin-left: -4rem;
        height: 4.8rem;
    }

    &__sign-area {
        position: absolute;
        top: 50%;
        right: 3rem;
        transform: translateY(-50%);
    }

    &__menu {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 3rem;
        height: 3rem;
        width: 3rem;
        visibility: hidden;

        @include respond(tab-port) {
            visibility: visible;
        }
    }

    &__icon {
        position: absolute;
        transform: translateY(1rem);

        &,
        &::before,
        &::after {
            width: 3rem;
            height: 2px;
            background-color: $color-main;
            display: inline-block;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            transition: all .2s;
        }

        &::before {
            top: -.8rem;
        }

        &::after {
            top: .8rem;
        }
    }
}